.tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 323px;
    margin-top: 90px;;

}

.tabLabel {
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 100px;
    color: white;
    background-color: red;
    width: 167px;
}

.tabLabel__selected {
    position: absolute;
    left: 160px;
    color: red;
    background-color: transparent;
    width: 155px;
}