@media (min-width: 600px) {
  /* ### FONTS ### */

  .m-16 {
    font-size: 16px;
  }
  .m-20 {
    font-size: 20px;
  }

  .b-14 {
    font-size: 14px;
  }
  .b-16 {
    font-size: 16px;
  }
  .b-18 {
    font-size: 18px;
  }
  .b-24 {
    font-size: 24px;
  }
  .b-26 {
    font-size: 26px;
  }
  .b-30 {
    font-size: 30px;
  }
  .b-40 {
    font-size: 40px;
  }
  .b-48 {
    font-size: 48px;
  }
  .b-42 {
    font-size: 42px;
  }
  .b-70 {
    font-size: 70px;
  }
  .b-72 {
    font-size: 72px;
  }
  .b-80 {
    font-size: 80px;
  }
  .b-93 {
    font-size: 93px;
  }
  .b-96 {
    font-size: 96px;
  }
  .b-100 {
    font-size: 100px;
  }
  .b-120 {
    font-size: 120px;
  }
  .b-128 {
    font-size: 128px;
  }
  .b-135 {
    font-size: 135px;
  }
  .b-178 {
    font-size: 178px;
  }
  .b-180 {
    font-size: 180px;
  }
  .b-184 {
    font-size: 184px;
  }
  .b-200 {
    font-size: 200px;
  }
  .b-213 {
    font-size: 213px;
  }
  .b-220 {
    font-size: 220px;
  }
  .b-245 {
    font-size: 245px;
  }

  /* Text stroke */
  .text-stroke {
    -webkit-text-stroke: 3px var(--red_light);
  }

  .text-stroke_2px_green {
    -webkit-text-stroke: 2px var(--green_light);
  }

  .text-stroke_2px_dark {
    -webkit-text-stroke: 2px var(--dark);
  }

  /* ### COMPONENTS ### */
  .icon.arrow_up_right {
    width: 11px;
    height: 11px;
  }

  .icon.long_arrow_right {
    width: 415px;
    height: 24px;
  }


  .icon.book {
    width: 22px;
    height: 18px;
  }

  .icon.discord {
    width: 24px;
    height: 18px;
  }

  .icon.twitter {
    width: 23px;
    height: 19px;
  }

  .icon.logo_icon {
    width: 51px;
    height: 51px;
  }

  .icon.logo_icon_white {
    width: 51px;
    height: 51px;
  }

  .icon.menu_burger {
    width: 20px;
    height: 14px;
  }

  .icon.menu_close {
    width: 16px;
    height: 16px;
  }

  .icon.mouse {
    width: 27px;
    height: 39px;
  }

  .icon.opensea {
    width: 36px;
    height: 36px;
  }

  .icon.quixotic {
    width: 36px;
    height: 36px;
  }

  .icon.banane {
    width: 64px;
    height: 68px;
  }


  /* BUTTON */
  .button {
    width: 169px;
    height: 50px;
    border-radius: 25px;
  }

  .button_droplet_1 {
    top: 44px;
    left: 76px;
    width: 29px;
    height: 52px;
  }
  .button_droplet_2 {
    top: 19px;
    left: 115px;
    width: 54px;
    height: 61px;
  }
  .button_droplet_3 {
    top: 8px;
    left: 9px;
    width: 54px;
    height: 60px;
  }
  .button_droplet_4 {
    top: 8px;
    left: 95px;
    width: 41px;
    height: 73px;
  }

  .button_decoration_left {
    bottom: 0;
    left: -17px;
    width: 52px;
    height: 60px;
  }
  .button_decoration_right {
    bottom: 0;
    right: -19px;
    width: 52px;
    height: 60px;
  }

  /* BUTTON END */


  /* GRADIENT BORDER */
  /* GRADIENT BORDER */


  /* BUBBLE */
  .bubble {
    --size: 120px;
  }


  .bubble_description p {
    max-width: 160px;
  }


  /* ### STYLE ### */
  /* Varriables */
  :root {
    --min_height: calc(100vw / 1.777);
  }

  body {
    min-width: 100vw;
    min-height: 100vh;
  }


  .container {
    width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
  }

  /* PRELOADER */
  .preloader {}

  .preloader .logo_icon_white {
    top: 40px;
    left: calc(50% - 61px / 2);
    width: 61px;
    height: 61px;
  }

  .preloader_status {
    top: calc(50vh - 180px / 2);
    left: calc(50vw - 180px / 2);
    width: 180px;
    height: 180px;
    margin-bottom: 25px;
  } 

  .preloader_status_bar {}

  .preloader_status .icon {
    width: calc(64px * 0.85);
    height: calc(68px * 0.85);
    margin-bottom: 20px;
  }

  .preloader_text {
    bottom: -40px;
  }
  /* PRELOADER END */


  /* HEADER */
  .header__up {
    height: 50px;
    margin-top: 40px;
  }

  .header__down {
    bottom: 0;
    height: 76px;
    margin-bottom: 40px;
  }

  /* header up */
  .header_logo_icon {
    width: 51px;
    height: 51px;
  }

  .header_buttons {
    gap: 30px;
  }

  .quixotic {
    height: 50px;
    padding: 8px;
    border-radius: 50px;
  }

  .quixotic > .b-16 {
    width: 180px;
  }

  .menu {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }


  /* header down */
  .header__down_block__slogan {
    width: 232px;
    height: 76px;
  }

  .header__down_block__mouse {
    width: 190px;
    height: 70px;
  }

  .header__down_block__mouse .wrapper {}
  .header__down_block__mouse .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 19px;
  }
  .header__down_block__mouse .icon svg {
    width: 100%;
    height: 100%;
  }


  .header__down_block__social {
    gap: 14px;
    min-width: 232px;
  }

  .header__down_block__social__icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  /* HEADER END */


  /* MENU */
  .menu_wrapper {}

  .menu_block {
    width: 1170px;
    height: calc(100vh - 110px);
    min-height: 790px;
    padding: 65px 80px;
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 147px;
    border-radius: 25px 25px 0px 0px;
  }
  .menu_block::after {
    top: 630px;
    left: 0;
    width: 100%;
    height: 4px;
  }

  .menu__up_content {
    margin-bottom: 75px;
  }

  .menu__up_content .close {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .menu__navigations {}

  .menu__navigations__nav {}
  .menu__navigations__nav a {
    height: 54px;
    padding-right: 60px;
    margin-bottom: 30px;
  }
  .menu__navigations__nav a:last-child {
    margin: 0;
  }

  .menu__navigations__nav span {
    line-height: 54px;
  }
  .menu__navigations__nav sup {
    top: 0;
    right: 0.2em;
  }

  .menu__navigations__links {}

  .join_us {
    width: 50px;
    padding: 7px;
    padding-top: 95px;
    border-radius: 50px;
  }

  .join_us_icon {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    border-radius: 36px;
  }
  .join_us_icon .icon {
    width: 18px;
    height: 18px;
  }

  .join_us .b-16 {
    top: 55px;
    left: -14px;
  }
  /* MENU END */


  /* MAIN SECTION */
  .main {}

  .main .container {}

  .main__monkey {
    top: 130px;
    right: 0;
    width: 349px;
    height: 472px;
  }

  .main__markup_block_up {
    height: 150px;
    margin-bottom: 20px;
  }
  .main__markup_block_down {
    height: 204px;
  }

  .main__text {}

  .main__text_up {
    line-height: 162px;
  }

  .main__text_down {
    line-height: 91px;
  }


  .main__sticky {
    top: calc(50% - 162px / 2);
    height: 162px;
  }

  .main__sticky::after {
    width: 102px;
    height: 55px;
    margin-left: 93px;
  }
  /* MAIN SECTION END */


  /* INFO */
  .info {}

  .info .container {}

  .info__list {
    gap: 20px;
    height: 100%;
  }

  .info__item {
    gap: 6px;
    width: 368px;
    height: 140px;
    border: 2px solid rgba(255, 4, 33, 0.3);
    border-radius: 15px;
  }

  .info__item_name {
    -webkit-text-stroke: 2px var(--red_light);
  }

  .info__item.active .info__item_name {
    -webkit-text-stroke: 2px var(--milk);
  }
  /* INFO END */


  /* LORE */
  .lore {}

  .lore__text {}

  .lore__inverted_commas {
    height: 60px;
    margin-bottom: 30px;
  }

  .lore__description {
    margin-bottom: 25px;
  }
  .lore__description p {
    width: 442px;
    margin-right: 60px;
  }
  .lore__description p:last-child {
    width: 668px;
    margin: 0;
  }
  /* LORE END */


  /* MUTATION */
  .mutation {
    border-radius: 30px 30px 0 0;
  }

  .mutation_bubble:nth-child(1) { top: 40px; left: 470px; }
  .mutation_bubble:nth-child(2) { top: 135px; left: 795px; }
  .mutation_bubble:nth-child(3) { top: 535px; left: 470px; }
  .mutation_bubble:nth-child(4) { top: 575px; left: 725px; }
  /* MUTATION END */


  /* GALLERY */
  .gallery {
    gap: 45px;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .gallery__card {
    width: 258px;
  }

  .gallery__card .img {
    width: 258px;
    height: 256px;
    margin-bottom: 30px;
    border-radius: 15px;
  }
  /* GALLERY END */


  /* CARDS */
  .cards {}

  .card_wrapper,
  .card_title {
    padding: 0 130px;
    padding-top: 130px;
  }

  .card_title {
    padding: 0;
  }

  .card {
    gap: 110px;
    width: 100%;
    height: 100%;
    padding: 80px;
    border-radius: 25px 25px 0px 0px;
  }

  .card_info {
    width: 505px;
    height: 440px;
  }

  .card_info__title {}

  .card_info__label {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .card_info__description {
    width: 365px;
  }

  .card_info__image {
    width: 397px;
    height: 440px;
  }

  .card_info__image span {
    width: 397px;
    height: 77px;
  }

  .card_info__image .image {
    width: 400px;
    height: 400px;
    transform: translateX(-10px);
  }

  .collective_assets {}

  .collective_assets .card_info__description {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .collective_assets .button {
    width: 218px;
  }
  /* CARDS END */


  /* MINT */
  .mint {}

  .mint__liquid {}

  .mint__text {
    padding-top: 77.5px;
  }

  .mint__date,
  .mint__price {
    gap: 40px;
  }
  /* MINT END */


  /* SOCIALS */
  .socials {
    padding-top: 283px;
  }

  .socials__marquee_mobile {
    display: none !important;
  }

  .socials > .flex {
    margin-bottom: 140px;
  }

  .socials__title {
    max-width: 465px;
    margin-right: 70px;
  }

  .socials__title .b-96 {
    line-height: 72%;
    margin-bottom: 20px;
  }

  .socials__social_network {
    margin-right: 70px;
  }

  .socials__social_network__icon {
    width: 67px;
    height: 67px;
    margin-bottom: 20px;
    border-radius: 67px;
  }

  .socials__social_network__icon .icon {
    width: 30px;
    height: 30px;
  }


  .socials__text {
    max-width: 200px;
  }

  .socials__marquee {
    width: 100%;
    height: 90px;
  }
  /* SOCIALS END */


  /* ROADMAP */
  .roadmap {
    padding-top: 90px;
  }

  .roadmap__wrapper {
    height: 240px;
    margin-right: 0 !important;
  }

  .roadmap_title {
    padding-left: 100vw;
    margin-right: 105px;
  }


  .roadmap__stage__info {
    margin-right: 12px;
  }

  .roadmap__stage_name {
    margin-bottom: 32px;
  }

  .roadmap__stage__progress {
    width: 180px;
    height: 171px;
    transform: translateX(8px);
  }
  .roadmap__stage__progress img {
    width: 180px;
  }
  /* ROADMAP END */


  /* TEAM */
  .team {
    height: 1340px;
    padding-top: 300px;
  }

  .team_title {
    margin-bottom: 50px;
  }

  .team_title p:first-child {
    margin-bottom: 40px;
  }


  .team_title .b-180 {
    line-height: 125px;
  }
  .team_title .b-135 {
    line-height: 125px;
    margin-left: 225px;
    margin-right: 30px;
  }

  .team_title .b-245 {
    line-height: 170px;
  }
  .team_title .b-184 {
    line-height: 184px;
    margin-left: 30px;
  }

  .team__carousel__item {
    width: 400px;
    padding-right: 20px;
  }

  .team__carousel__item:last-child {
    padding-right: 400px;
  }

  .team__carousel__item .image_wrapper {
    width: 457px;
    height: 282px;
    margin-bottom: 25px;
  }

  .team__carousel__item .b-24 {
    margin-bottom: 10px;
  }
  /* TEAM END */


  /* END */
  .end {}

  .end__slogan {
    width: 1196px;
    height: 555px;
  }

  #slogan_desctop {
    display: block;
  }
  #slogan_mobile {
    display: none;
  }
  /* END END */

  /* ### ANIMATE ### */

  /* PRELOADER */
  /* PRELOADER END */


  /* BUTTONS */
  .button:hover .button_decoration_left {
    animation: buttonDecorationLeft .5s linear;
  }

  @keyframes buttonDecorationLeft {
    0% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1); }
    33% { transform: rotateZ(-20deg) translate3d(9px, 9px, 0); }
    66% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1.1); }
    100% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1); }
  }

  .button:hover .button_decoration_right {
    animation: buttonDecorationRight .5s linear;
  }

  @keyframes buttonDecorationRight {
    0% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1); }
    33% { transform: rotateZ(20deg) translate3d(-9px, 9px, 0); }
    66% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1.1); }
    100% { transform: rotateZ(0) translate3d(0, 0, 0) scale(1); }
  }
  /* BUTTONS END */


  /* LINK */
  /* LINK END */


  /* HEADER */
  header.start_animate .quixotic > .b-16 {
    width: 180px;
  }
  /* HEADER END */



  /* MAIN BLOCK */
  .main__text_up { height: 160px; }
  .main__text_down { height: 210px; }

  .main__text_up.start_animate span { height: 160px; }
  .main__text_down.start_animate span { height: 210px; }
  /* MAIN BLOCK END */



  /* MENU ANIMATE */
  .menu__up_content .b-30 {
    width: 90px;
  }

  .join_us {
    padding-top: 7px;
  }
  .menu_wrapper.open .join_us {
    padding-top: 95px;
  }
  .menu_wrapper.open .join_us .b-16 {
    height: 16px;
  }
  /* MENU ANIMATE END */
}