.section {
    display: flex;
    flex-direction: column;
}

.head {
    color: #ff0420;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    font-size: 52px;
    line-height: 90%;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-auto-rows: minmax(100px, auto); 
    gap: 16px; 
}