html,
body {
    padding: 0;
    margin: 0;
    font-family: "Rubik", serif;
    background: #1E1E1E;

}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-SemiBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-ExtraBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 800;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/static/Rubik-BlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}

.font-Rubik {
    font-family: "Rubik", serif !important;
}

.text-footer-1 {
    line-height: 4.50000vw;
    font-style: italic;
    font-size: 4.5333vw;
    background-color: #F0EBDF;
    -webkit-text-stroke: 0.2vw #F1D6CE;
    color: transparent;
}

.text-footer-2 {
    font-size: 2vw;
    color: #FF0420;
    font-style: italic;
    font-weight: 700;
    line-height: 119%;
}

.svg-footer-2 {
    height: 2vw;
}


.min-100vh {
    min-height: 100vh;
}


.text-main-1 {
    font-family: 'Rubik', serif;
    font-style: italic;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 54px;
    line-height: 90.5%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF0420;
}

.cursor-pointer {

}

.cursor-pointer:hover {
    cursor: pointer;
}
