

@media (min-width:500px) {
  /* FONTS */
  /* Text size */
  .m-16 {
    font-size: 16px;
  }
  
  .b-16 {
    font-size: 16px;
  }
  .b-18 {
    font-size: 18px;
  }
  .b-24 {
    font-size: 24px;
  }
  .b-26 {
    font-size: 26px;
  }
  .b-40 {
    font-size: 40px;
  }
  .b-42 {
    font-size: 42px;
  }
  .b-30 {
    font-size: 30px;
  }
  .b-70 {
    font-size: 70px;
  }
  .b-72 {
    font-size: 72px;
  }
  .b-96 {
    font-size: 96px;
  }
  .b-120 {
    font-size: 120px;
  }
  .b-128 {
    font-size: 128px;
  }
  .b-135 {
    font-size: 135px;
  }
  .b-178 {
    font-size: 178px;
  }
  .b-180 {
    font-size: 180px;
  }
  .b-184 {
    font-size: 184px;
  }
  .b-200 {
    font-size: 200px;
  }
  .b-220 {
    font-size: 220px;
  }
  .b-245 {
    font-size: 245px;
  }
  
  /* Text stroke */
  .text-stroke {
    -webkit-text-stroke: 3px var(--red_light);
  }
  
  .text-stroke_1px {
    -webkit-text-stroke: 1px var(--red_light);
  }  
  /* FONTS END */


  /* COMPONENTS */
  .icon.arrow_up_right {
    width: 11px;
    height: 11px;
  }
  
  .icon.long_arrow_right {
    width: 415px;
    height: 24px;
  }
  
  
  .icon.book {
    width: 22px;
    height: 18px;
  }
  
  .icon.discord {
    width: 24px;
    height: 18px;
  }
  
  .icon.twitter {
    width: 23px;
    height: 19px;
  }
  
  .icon.logo_icon {
    width: 51px;
    height: 51px;
  }
  
  .icon.logo_icon_white {
    width: 51px;
    height: 51px;
  }
  
  .icon.menu_burger {
    width: 20px;
    height: 14px;
  }
  
  .icon.menu_close {
    width: 16px;
    height: 16px;
  }
  
  .icon.mouse {
    width: 27px;
    height: 39px;
  }
  
  .icon.opensea {
    width: 36px;
    height: 36px;
  }
  
  .icon.quixotic {
    width: 36px;
    height: 36px;
  }
  
  .icon.banane {
    width: 64px;
    height: 68px;
  }
  
  /* COMPONENTS END */


  /* Varriables */
  :root {
    --min_height: calc(100vw / 1.777);
  }

  body {
    min-width: 100vw;
    min-height: 100vh;
  }

  .container {
    width: 1220px;
    padding: 0 20px;
  }

  /* PRELOADER */
  .preloader .logo_icon_white {
    top: 40px;
    left: calc(50% - 51px / 2);
    width: 51px;
    height: 51px;
  }

  .preloader_status {
    top: calc(50vh - 180px / 2);
    left: calc(50vw - 180px / 2);

    width: 180px;
    height: 180px;
    margin-bottom: 25px;
  }

  .preloader_status .icon {
    width: calc(64px * 0.85);
    height: calc(68px * 0.85);
    margin-bottom: 20px;
  }

  .preloader_text {
    bottom: -40px;

    width: 100%;
  }
  /* PRELOADER END */

  /* HEADER */

  .header__up {
    height: 50px;
    margin-top: 40px;
  }

  .header__down {
    bottom: 0;
    height: 76px;
    margin-bottom: 40px;
  }

  header .container {
    height: 100%;
  }

  /* header up */
  .header_logo_icon {
    width: 51px;
    height: 51px;
  }

  .quixotic {
    height: 50px;
    padding: 8px;
    margin-right: 30px;
    border-radius: 50px;
    /* cursor: pointer; */
  }

  .quixotic > .icon {
    margin: 0;
  }
  .quixotic > .b-16 {
    text-align: center;
    width: 180px;
  }

  .menu {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* cursor: pointer; */
  }

  /* header down */
  .header__down_block__slogan {
    width: 232px;
    height: 76px;
  }

  .header__down_block__mouse {
    position: relative;

    width: 190px;
    height: 70px;
  }

  .header__down_block__mouse .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 19px;
  }

  .header__down_block__social {
    min-width: 232px;
  }

  .header__down_block__social__icon {
    width: 50px;
    height: 50px;
    margin-left: 14px;
    border-radius: 50px;
  }

  /* HEADER END */

  /* MENU */
  .menu_block {
    width: 1170px;
    height: calc(100vh - 110px);
    min-height: 790px;
    padding: 65px 80px;
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 147px;
    border-radius: 25px 25px 0px 0px;
  }
  .menu_block::after {
    top: 630px;

    width: 100%;
    height: 4px;
  }

  .menu__up_content {
    margin-bottom: 75px;
  }

  .menu__up_content .close {
    width: 50px;
    height: 50px;
    background-color: var(--red);
    border-radius: 50px;
  }

  .menu__navigations__nav a {
    height: 54px;
    padding-right: 60px;
    margin-bottom: 30px;
  }
  .menu__navigations__nav a:last-child {
    margin: 0;
  }

  .menu__navigations__nav span {
    line-height: 54px;
  }

  .join_us {
    width: 50px;
    height: auto;
    padding: 7px;
    padding-top: 95px;

    border-radius: 50px;
  }

  .join_us_icon {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    background-color: var(--gray);
    border-radius: 36px;
  }
  .join_us_icon .icon {
    width: 18px;
    height: 18px;
  }

  .join_us .b-16 {
    top: 55px;
    left: -14px;
  }

  .privacy_policy .b-16 {
    line-height: 14px;
    height: 14px;
  }

  .privacy_policy .flex {
    margin-bottom: 12px;
  }

  .privacy_policy .icon.arrow_up_right {
    margin-right: 25px;
  }
  /* MENU END */

  /* MAIN SECTION */
  .main {
    height: 100vh;
  }

  .main__monkey {
    position: absolute;
    top: 130px;
    right: 0;
    width: 349px;
    height: 472px;
  }

  .main__text_up {
    line-height: 162px;
    margin-bottom: 20px;
  }

  .main__text_down {
    line-height: 105px;
  }
  /* MAIN SECTION END */

  /* LORE */
  .lore {
    height: 100vh;
    min-height: var(--min_height);
  }

  .lore__text {
  }

  .lore__inverted_commas {
    height: 60px;
    margin-bottom: 30px;
  }

  .lore__description {
    margin-bottom: 25px;
  }
  .lore__description p {
    width: 442px;
    margin-right: 60px;
  }
  .lore__description p:last-child {
    width: 668px;
    margin: 0;
  }

  .lore__title {
    line-height: 100%;
  }

  /* LORE END */

  /* CARDS */

  .card_wrapper,
  .card_title {
    width: 100%;
    height: var(--min_height);
    min-height: 100vh;
    padding: 0 130px;
    padding-top: 130px;
  }

  .card_wrapper.empty {
    height: calc(var(--min_height) / 2);
  }

  .card_title {
    padding: 0;
  }

  .card {
    padding: 80px;
    border-radius: 25px 25px 0px 0px;
  }

  .card_info {
    width: 480px;
    margin-right: 135px;
  }

  .card_info_title {
    margin-bottom: 60px;
  }

  .card_info_label {
    margin-bottom: 60px;
  }

  .card_image {
    width: 397px;
    height: 440px;
  }

  .card_image span {
    width: 397px;
    height: 77px;
  }

  .card_image img {
    width: 280px;
    height: 280px;
  }
  /* CARDS END */

  /* SUPPLY AND MINT */
  .supply_and_mint {
    width: 100%;
    height: 100vh;
    min-height: var(--min_height);
    padding-top: 235px;
  }

  .supply_and_mint__text_track {
    width: 100%;
    height: 172px;
    margin-bottom: 22px;
  }
  .supply_and_mint__text_track p {
    white-space: nowrap;
    line-height: 172px;
    min-width: 60%;
  }

  .supply_and_mint__monkey {
    position: absolute;
    left: calc(100vw / 2 - 468px / 2);
    bottom: 0;
    width: 468px;
    height: 600px;
  }
  /* SUPPLY AND MINT END */

  /* SOCIALS */
  .socials {
    height: 100vh;
    min-height: var(--min_height);
    padding-top: 283px;
  }

  .socials > .flex {
    margin-bottom: 140px;
  }

  .socials__title {
    display: inline-block;
    max-width: 460px;
    margin-right: 70px;
  }

  .socials__title .b-96 {
    line-height: 67px;

    height: 67px;
    margin-bottom: 20px;
  }

  .socials__social_network {
    margin-right: 70px;
  }

  .socials__social_network__icon {
    width: 67px;
    height: 67px;
    margin-bottom: 20px;
    background-color: var(--red);
    border-radius: 67px;
    /* cursor: pointer; */
  }

  .socials__social_network__icon .icon {
    width: 30px;
    height: 30px;
  }

  .socials__text {
    max-width: 200px;
  }

  .socials__marquee {
    white-space: nowrap;
    width: 100%;
    height: 90px;
  }

  .socials__marquee span {
    line-height: 95%;
    justify-content: 90px;
    height: 100%;
  }
  /* SOCIALS END */

  /* ROADMAP */
  .roadmap {
    height: 100vh;
    min-height: var(--min_height);
    padding-top: 90px;
    /* overflow-x: auto; */
  }

  .roadmap__sticky {
    height: var(--min_height);
    min-height: var(--min_height);
  }

  .roadmap__wrapper {
    height: 240px;
    margin-right: 100vw;
  }

  .roadmap_title {
    line-height: 172px;
    padding-left: 100vw;
    margin-right: 105px;
  }

  .roadmap__stage__info {
    margin-right: 12px;
  }

  .roadmap__stage_name {
    line-height: 50px;
    position: relative;
    z-index: 2;
    margin-bottom: 32px;
  }

  .roadmap__stage_description {
    padding-left: 1em;
  }

  .roadmap__stage__progress {
    width: 180px;
    height: 171px;
    transform: translateX(8px);
  }
  .roadmap__stage__progress img {
    width: 181px;
    height: 173px;
  }
  /* ROADMAP END */

  /* TEAM */
  .team {
    height: 1340px;
    padding-top: 300px;
  }

  .team_title {
    margin-bottom: 50px;
  }

  .team_title p {
  }
  .team_title p:first-child {
    margin-bottom: 40px;
  }

  .team_title span {
    display: inline-block;
  }

  .team_title .b-180 {
    line-height: 125px;
  }
  .team_title .b-135 {
    line-height: 125px;
    margin-left: 225px;
    margin-right: 30px;
  }

  .team_title .b-245 {
    line-height: 170px;
  }
  .team_title .b-184 {
    line-height: 184px;
    margin-left: 30px;
  }

  .team__carousel__item {
    width: 400px;
    padding-right: 20px;
  }

  .team__carousel__item:last-child {
    padding-right: 400px;
  }

  .team__carousel__item .image_wrapper {
    width: 457px;
    height: 282px;
    margin-bottom: 25px;
  }

  .team__carousel__item img {
    transform: translateY(-1px);
  }

  .team__carousel__item .b-24 {
    margin-bottom: 10px;
  }
  /* TEAM END */

  /* END */
  .end__slogan {
    width: 1196px;
    height: 555px;
  }
  .end__slogan path {
    stroke-width: 3;
  }
  /* END END */



  /* ANIMATE */

  /* HEADER */
  header.start_animate .quixotic > .b-16 {
    width: 180px;
  }
  /* HEADER END */



  /* MAIN BLOCK */
  .main__text_up { height: 160px; }
  .main__text_down { height: 210px; }

  .main__text_up.start_animate span { height: 160px; }
  .main__text_down.start_animate span { height: 210px; }

  /* MAIN BLOCK END */



  /* MENU ANIMATE */
  .menu__up_content .b-30 {
    width: 90px;
  }


  .menu__navigations__nav a:hover .text-stroke_1px {
    -webkit-text-stroke: 1px var(--gray);
  }


  .join_us {
    padding-top: 7px;
  }

  .menu_wrapper.open .join_us {
    padding-top: 95px;
  }
  .menu_wrapper.open .join_us .b-16 {
    height: 16px;
  }

  /* MENU ANIMATE END */
  /* ANIMATE END*/
}