* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
}

/* input:focus-visible {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
} */

input[type="file"] {
  position: absolute;
  display: none;
  opacity: 0;
  z-index: -1;
}

/* Delete arrow */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

/* Custom scroll bar */

html {
  --scrollbar_bar: #FF0420;
  --scrollbar_bg: #F0EBDF;
  --scrollbar_hover: #ca0018;
}


html, body {
  scrollbar-color: var(--scrollbar_bar) var(--scrollbar_bg); /* «цвет ползунка» «цвет полосы скроллбара» */
  /* scrollbar-width: auto | thin | none;  */ /* толщина */
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
  background-color: var(--scrollbar_bg);
}

/* ползунок скроллбара */
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar_bar);
  border-radius: 9em;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar_hover);
}


/* полоса прокрутки (скроллбар) */
.blueScrollBar::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
  background-color: var(--scrollbar_bg);
}

/* ползунок скроллбара */
.blueScrollBar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar_bar);
  border-radius: 9em;
}

.blueScrollBar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar_hover);
}

